
li{
  list-style:none;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom: 1px solid 	#ff0067;
  border-width:thin;
  color: 	white;
}

li:hover{
  color:black;
  background-color: white;
  text-decoration: none;
}

.aActive{
  color:black;
  background-color: yellow;
}

.ministersNameTabs{
  float:right;
  width:25%;
  margin-left:0px;
  text-decoration: :none;
}

.ministersNameTabs a:hover{
  text-decoration:none;
}

.ministersNameTabs a{
  text-decoration:none;
}
.main{

    height:1100px;
    position: static;
}

.ministersView{

  width:75%;
  margin-left:10px;
}


.ministersNameTabs h3{
  color:#ff0067;
  border-bottom:3px solid 	#ff0067;
  padding:5px;
  margin-left:10px;;
}

.ministersNameTabs ul{
padding-left:2px;
margin-left:20px;
background-color: black;
border:1px solid #ff0067;
}

.text .nm{
color: #ff0067;
}


.pic{
  width:300px;
  height:400px;
  border-bottom:3px solid 	#ff0067;
}
